div {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 180px;
    text-align: center;
    align-items: center;
}

button {
    cursor: pointer;
}