.portfolio-item:hover .overlay-p {
     transition: all 0.3s ease-in-out 0s;
     visibility: visible;
     opacity: 1;
}
.portfolio-thumb .overlay-p {
     background-color: rgba(0, 200, 200, 0.9);
     position: absolute;
     visibility: hidden;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
}
.portfolio-thumb .overlay-p a {
     position: absolute;
     color: white;
     text-decoration: none;
}

#portfolio .col-md-4 {
     max-width: 206px;
}
#portfolio .row {
     margin: 0;
}
#portfolio h1 {
     background-color: #00c8c8;
}
#portfolio h2 {
     color: white;
     padding: 8% 4% 4% 4%;
     margin: 0;
}
#portfolio p {
     color: white;
     padding: 0 4% 4% 4%;
     margin: 0;
     font-size: 0.9em;
}
#portfolio_content .col-md-4 {
     padding: 0;
}
